@font-face {
  font-family: "Avenir_reg";
  src: url("../../assets/Font/Alternativefiles/AvenirNextLTPro.ttf") format("TrueType");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir_bold";
  src: url("../../assets/Font/Alternativefiles/AvenirNextLTProBold.ttf") format("TrueType");
  font-weight: 700;
}
@media (min-width: 320px) and (max-width: 767px) {
  .row {
    display: flex;
    flex-direction: row;
    width: 95vw;
    height: 10vh;
    justify-content: space-around;
    margin-top: 16px;
    padding: 0;
    box-sizing: border-box;
  }
  .row__search {
    width: 65vw;
    height: 8vh;
    background-image: url(../../assets/Icons/search.svg);
    background-repeat: no-repeat;
    background-position-x: 2vw;
    background-position-y: center;
    padding-left: 8vw;
    border: 2px solid #e1e1e1;
    border-radius: 4px;
    margin: 0;
  }
  .row__displaypicbox {
    margin: 0;
    height: 9vh;
    width: 9vh;
    border-radius: 50%;
    background-image: url("../../assets/Images/Mohan-muruge.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .row {
    margin: -10vh 0 36px 0;
    padding: 0 36px 0 0;
    width: 65vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: right;
    box-sizing: border-box;
  }
  .row__displaypicbox {
    height: 9vh;
    width: 9vh;
    border-radius: 50%;
    background-image: url("../../assets/Images/Mohan-muruge.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .row__search {
    width: 15vw;
    height: 8vh;
    background-image: url(../../assets/Icons/search.svg);
    background-repeat: no-repeat;
    background-position-x: 2vw;
    background-position-y: center;
    padding-left: 8vw;
    border: 2px solid #e1e1e1;
    border-radius: 4px;
    margin: 0;
  }
}
@media (min-width: 1280px) {
  .row {
    margin: -8vh 5vw 36px 0;
    padding: 0;
    width: 60vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: right;
  }
  .row__displaypicbox {
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    background-image: url("../../assets/Images/Mohan-muruge.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .row__search {
    width: 17vw;
    height: 7vh;
    background-image: url(../../assets/Icons/search.svg);
    background-repeat: no-repeat;
    background-position-x: 2vw;
    background-position-y: center;
    padding-left: 8vw;
    border: 2px solid #e1e1e1;
    border-radius: 4px;
    margin: 0;
  }
  .row__search::-moz-placeholder {
    font-family: "Avenir_reg";
    font-size: 26px;
  }
  .row__search:-ms-input-placeholder {
    font-family: "Avenir_reg";
    font-size: 26px;
  }
  .row__search::placeholder {
    font-family: "Avenir_reg";
    font-size: 26px;
  }
}/*# sourceMappingURL=Row.css.map */