@font-face{
    font-family: "Avenir_reg";
    src: url('../../assets/Font/Alternativefiles/AvenirNextLTPro.ttf') format('TrueType');
    font-weight: 400;
}

@font-face{
    font-family: "Avenir_bold";
    src: url('../../assets/Font/Alternativefiles/AvenirNextLTProBold.ttf') format('TrueType');
    font-weight: 700;
}