@font-face {
  font-family: "Avenir_reg";
  src: url("../../assets/Font/Alternativefiles/AvenirNextLTPro.ttf") format("TrueType");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir_bold";
  src: url("../../assets/Font/Alternativefiles/AvenirNextLTProBold.ttf") format("TrueType");
  font-weight: 700;
}
@media (min-width: 320px) and (max-width: 767px) {
  .nextvideos {
    width: 70vw;
    height: 7vh;
  }
  .nextvideos__title {
    color: #e1e1e1;
    font-family: "Avenir_bold";
    font-size: 24px;
    margin-left: 3vw;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .nextvideos {
    width: 70vw;
    height: 7vh;
  }
  .nextvideos__title {
    color: #e1e1e1;
    font-family: "Avenir_bold";
    font-size: 24px;
    margin-left: 3vw;
  }
}
@media (min-width: 1280px) {
  .nextvideos {
    box-sizing: border-box;
    padding: 0;
    margin: -93vh 0 0 58vw;
    width: 41vw;
    border-left: 2px solid #e1e1e1;
  }
  .nextvideos__title {
    color: #e1e1e1;
    font-family: "Avenir_bold";
    font-size: 24px;
    margin-left: 1vw;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .nextvideo {
    width: 70vw;
    height: 20vw;
    margin-left: 3vw;
    position: relative;
    margin-bottom: 16px;
  }
  .nextvideo__img {
    border-radius: 4px;
    width: 30vw;
    height: 20vw;
    position: absolute;
  }
  .nextvideo__title {
    width: 50%;
    box-sizing: border-box;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-family: "Avenir_bold";
    font-size: 18px;
    color: #323232;
    position: absolute;
    left: 32vw;
    top: 1%;
  }
  .nextvideo__uploader {
    width: 30%;
    height: 20%;
    font-family: "Avenir_reg";
    font-size: 16px;
    color: #323232;
    position: absolute;
    left: 32vw;
    top: 52%;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .nextvideo {
    width: 70vw;
    height: 20vw;
    margin-left: 3vw;
    position: relative;
    margin-bottom: 16px;
  }
  .nextvideo__img {
    border-radius: 4px;
    width: 30vw;
    height: 20vw;
    position: absolute;
  }
  .nextvideo__title {
    width: 50%;
    box-sizing: border-box;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-family: "Avenir_bold";
    font-size: 18px;
    color: #323232;
    position: absolute;
    left: 32vw;
    top: 1%;
  }
  .nextvideo__uploader {
    width: 30%;
    height: 20%;
    font-family: "Avenir_reg";
    font-size: 16px;
    color: #323232;
    position: absolute;
    left: 32vw;
    top: 52%;
  }
}
@media (min-width: 1280px) {
  .nextvideo {
    width: 15vh;
    height: 12vh;
    margin-left: 1vw;
    position: relative;
    margin-bottom: 16px;
  }
  .nextvideo__img {
    border-radius: 4px;
    width: 15vh;
    height: 10vh;
    position: absolute;
  }
  .nextvideo__title {
    width: 110%;
    height: 30%;
    box-sizing: border-box;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-family: "Avenir_bold";
    font-size: 18px;
    color: #323232;
    position: absolute;
    left: 110%;
    top: -0.5%;
  }
  .nextvideo__uploader {
    width: 55%;
    height: 15%;
    font-family: "Avenir_reg";
    font-size: 16px;
    color: #323232;
    position: absolute;
    left: 110%;
    top: 38%;
  }
}/*# sourceMappingURL=NextVideos.css.map */