@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;

.comments{
    @include mob{
        border-bottom: 2px solid $mercury;
        position:relative;
        height: 30vh;
        width:100vw;
        margin-left: 3vw;
    &__displaypic{
        border-radius: 50%;
        width:10vh;
        height:10vh;
        background-color: $mercury;
        top: 5%;
        left: 2%;
        position:absolute;
    }
    &__timestamp{
        color: $silver;
        position:absolute;
        right:12%;
        top: 2%;
        width:10%;
        height:12%;
        font-weight: 450;
        font-size: 16px;
    }
    &__comment{
        width:60vw;
        height:60%;
        position:absolute;
        font-family: 'Avenir_reg';
        font-size: 16px;
        left:20%;
        top:10%;
        padding-top: 16px;
        box-sizing: border-box;
    }
    &__name{
        position:absolute;
        font-family: 'Avenir_bold';
        font-size: 16px;
        width:40%;
        height:12%;
        color:$brainflix-darkblack;
        top: 2%;
        left: 20%;
        line-height: 18px;
    }
    }








    @include tab{
        border-bottom: 2px solid $mercury;
        position:relative;
        height: 20vh;
        width:100vw;
        margin-left: 1.5rem;
        box-sizing: border-box;
        padding-top: 24px;
    &__displaypic{
        border-radius: 50%;
        width:7vh;
        height:7vh;
        background-color: $mercury;
        top: 5%;
        left: 2%;
        position:absolute;
    }
    &__timestamp{
        color: $silver;
        position:absolute;
        right:12%;
        top: 2%;
        width:10%;
        height:12%;
        font-weight: 450;
        font-size: 18px;
    }
    &__comment{
        width:60vw;
        height:70%;
        position:absolute;
        font-family: 'Avenir_reg';
        font-size: 18px;
        left:15%;
        top:10%;
        padding-top: 16px;
        box-sizing: border-box;
    }
    &__name{
        position:absolute;
        font-family: 'Avenir_bold';
        font-size: 18px;
        width:40%;
        height:12%;
        color:$brainflix-darkblack;
        top: 2%;
        left: 15%;
        line-height: 18px;
    }
    }











    @include des{
        border-bottom: 2px solid $mercury;
        position:relative;
        height: 15vh;
        width:55vw;
        margin-left: 3vw;
    &__displaypic{
        border-radius: 50%;
        width:6vh;
        height:6vh;
        background-color: $mercury;
        top: 5%;
        left: 2%;
        position:absolute;
    }
    &__timestamp{
        color: $silver;
        position:absolute;
        right:12%;
        top: 2%;
        width:7%;
        height:12%;
        font-weight: 450;
        font-size: 18px;
    }
    &__comment{
        width:45vw;
        height:60%;
        position:absolute;
        font-family: 'Avenir_reg';
        font-size: 18px;
        left:15%;
        top:10%;
        padding-top: 16px;
        box-sizing: border-box;
    }
    &__name{
        position:absolute;
        font-family: 'Avenir_bold';
        font-size: 18px;
        width:40%;
        height:12%;
        color:$brainflix-darkblack;
        top: 2%;
        left: 15%;
        line-height: 20px;
    }
    }
    
}